@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Aboreto&family=Nanum+Gothic&display=swap");

:root {
	--primary: #14b8a6;
	--secondary: #f000b8;
	--body-fonts: "Nanum Gothic", sans-serif;
	--heading-fonts: "Aboreto", cursive;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#root {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	position: relative;
}
body {
	font-family: var(--body-fonts);
}

main {
	flex: 1 0 auto;
}
h1 {
	font-family: var(--heading-fonts);
}

@layer base {
	h1 {
		@apply text-3xl leading-loose lg:text-5xl;
	}
	h2 {
		@apply text-4xl  mb-5 relative;
	}
	h3 {
		@apply text-2xl mb-3;
	}
	h4 {
		@apply text-xl font-bold mb-2;
	}
	p {
		@apply mb-2;
	}
}

@layer components {
	/* NAV */
	nav {
		@apply p-3 bg-slate-800  flex  justify-center items-center;
	}
	.nav-list {
		@apply flex flex-col items-center gap-2 mx-4 p-2 text-base text-slate-50 cursor-pointer hover:text-teal-500;
	}
	.nav-icons {
		@apply text-2xl hover:text-teal-500;
	}

	/* GLOBAL  */
	.btn {
		@apply text-white bg-teal-600  rounded-none p-2 py-3 hover:animate-pulse flex items-center gap-2 justify-center w-full;
	}
	.input {
		@apply placeholder:text-slate-400 block bg-white w-full border border-slate-300 rounded-md py-4 pl-9 pr-3 shadow-sm focus:outline-none focus:border-teal-500 focus:ring-teal-500 focus:ring-1 sm:text-sm;
	}
	.heart {
		@apply absolute right-3 top-3 text-2xl;
	}
	.card {
		@apply shadow-xl grid grid-rows-2 gap-2  cursor-pointer bg-white  items-center hover:animate-pulse;
	}
	.active {
		@apply pointer-events-none text-teal-500;
	}
}

/* CUSTOM STYLING */

/* LOGO */
.logo {
	font-family: var(--heading-fonts);
	padding: 1em;
	font-size: 1.2em;
	position: absolute;
	left: 2em;
	color: white;
}
.logo::before {
	content: "";
	position: absolute;
	left: 60%;
	bottom: 10px;
	width: 180px;
	height: 4px;
	transform: skew(-12deg) translateX(-50%);
	background: var(--primary);
}
.logo::after {
	content: "";
	position: absolute;
	right: -25%;
	bottom: 1px;
	width: 140px;
	height: 4px;
	transform: skew(-12deg) translateX(-50%);
	background: var(--primary);
}

/* HERO HOMEPAGE */
.hero {
	background: url("./assets/people-using-smartphones.jpg") no-repeat top;
	background-size: cover;
	min-height: 40vh;
}
.heading-hero {
	background-color: rgba(20, 184, 166, 0.3);
	color: white;
	padding: 0.5em 0.1em 0.5em 1.5em;
	margin: 0 auto;
}
/* custtom modal */

#my-modal {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 999;
	--tw-bg-opacity: 0.8;
	background-color: hsla(var(--nf) / var(--tw-bg-opacity, 1));
	transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
	transition-duration: 0.2s;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	visibility: visible;
	overflow-y: scroll;
}
#overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.8);
	cursor: pointer;
}
.about-img {
	clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);
}
