@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--primary: #570df8;
	--secondary: #f000b8;
	--accent: #37cdbe;
	--light: #ffffff;
	--info: #3abff8;
	--neutral: #3d4451;
	--success: #36d399;
	--warning: #fbbd23;
	--error: #f87272;
	--body-fonts: "Martel Sans", sans-serif;
	--cursive-fonts: "Metal", cursive;
	--heading-fonts: "Philosopher", sans-serif;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#root {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	position: relative;
}
main {
	flex: 1 0 auto;
}
.active {
	pointer-events: none;
	border-bottom: 2px solid var(--accent);
}
@layer base {
	h1 {
		@apply text-4xl  mb-8 leading-loose lg:text-5xl;
	}
	h2 {
		@apply text-4xl  mb-5 relative;
	}
	h3 {
		@apply text-2xl mb-3;
	}
	h4 {
		@apply text-xl font-bold mb-2;
	}
}

@layer components {
	.nav-list {
		@apply inline-block mx-4 p-2 text-base hover:border-b-2  transition-all ease-in-out hover:animate-pulse cursor-pointer;
	}
	.btn {
		@apply text-white rounded-none p-2 py-3;
	}
	.input {
		@apply placeholder:text-slate-400 block bg-white w-full border border-slate-300 rounded-md py-4 pl-9 pr-3 shadow-sm focus:outline-none focus:border-sky-500 focus:ring-sky-500 focus:ring-1 sm:text-sm;
	}
	.heart {
		@apply absolute right-3 top-3 text-2xl;
	}
	.card {
		@apply shadow-xl grid grid-rows-2 gap-2  cursor-pointer bg-white  items-center hover:animate-pulse;
	}
}
.favourited {
	color: red;
}
